/* .quantity-container {
    display: flex;
    align-items: center;
} */

/* .quanti-input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
} */

/* .quanti-btn {
    cursor: pointer;
    padding: 5px 10px;
    color: black;
    border: none;
    border-radius: 4px;
    background-color: var(--flashwhite-color);
    border-radius: 5px;
} */